version: '3.8'
services:
  pg:
    image: postgres:latest
    environment:
      POSTGRES_DB: study
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
volumes:
  pgdata:
