spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/study
    username: user
    password: user
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

server:
  port: ${SERVER_PORT:8080}
